image:
    tag: "sha-00f97f61067977dcfd1e44df39365684f61bdbfa"

extraConfigMapEnvVars:
    ASPNETCORE_HTTP_PORTS: "80"
    ConnectionStrings__DefaultConnection: "Host=postgresql;port=5432;Database=auth-db;Username={{ .Values.postgresUsername }};Password={{ .Values.postgresPassword }}"
    AuthenticationOptions__PublicSigningKey: "{{ .Values.publicSigningKey }}"
    AuthenticationOptions__PrivateSigningKey: "{{ .Values.privateSigningKey }}"
    InnerCircleServiceUrls__MailServiceUrl: "{{ .Values.mailServiceUrl }}"
    InnerCircleServiceUrls__AuthUIServiceUrl: "{{ .Values.authUiServiceUrl }}"
    InnerCircleServiceUrls__AccountsServiceUrl: "{{ .Values.accountsServiceUrl }}"
    InnerCircleServiceUrls__EmployeesServiceUrl: "{{ .Values.employeesServiceUrl }}"
